[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
discord = "*"
python-dotenv = "*"
quart = "*"
python-blizzardapi = "*"
aiologger = "*"
"discord.py" = "*"
discord-ext-ipc = "*"
validators = "*"
hypercorn = "*"

[dev-packages]

[requires]
python_version = "3.9"
